@import "tailwindcss";

:root {
  --lightHover: '#fcf4ff',
  --darkHover: '#2a004a',
  --darkTheme: '#11001F',
  /* --font-outfit: 'Outfit', sans-serif,
  --font-ovo: 'Ovo', serif; */
}

*{
  font-family: Outfit;
}
